<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<style>
		body{
			background-color: black;
			color: aliceblue;
			
			text-align: center;
		}
		
			input,button{
				font-size: 33px;
				border-radius: 12px;
			}
	</style>
	<h1>hello word ?.... </h1>
	
	<input type="text" ><pre></pre>
	<input type="password" name="" id=""><pre></pre>
	passwrod engister:<input type="checkbox"><pre></pre>
	<button>aend to databese</button><pre></pre>
	
</body>
</html>